apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: nginx-traefik
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: randeerdil/asp-dot-net-core-cv:20230820064955
        ports:
        - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name:  nginx
  namespace: nginx-traefik
spec:
  selector:
    app:  nginx
  # ---
  type:  ClusterIP
  ports:
   - name:  http
     port:  80
