apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: traefik-cluster-issuer
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: randeerlalanga92@gmail.com
    privateKeySecretRef:
      name: traefik-cluster-issuer
    solvers:
    - selector: {}
      http01:
        ingress:
          ingressClassName: my-traefik